<div class="form-wrapper">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <p>Choix des tâches à ajouter: </p>



      <mat-form-field appearance="fill">
        <mat-label>Tâches</mat-label>
        <mat-select multiple formControlName="todos" *ngIf="(todos$ | async) as todoList" >
          <mat-option *ngFor="let todo of todoList" [value]="todo" >
            <p>{{todo.description}} {{todo.label}} {{todo.status}} {{todo.limitDate}}</p>
          </mat-option>

        </mat-select>

      </mat-form-field>







    </div>


    <div class="buttons">
      <button mat-raised-button color="primary" [disabled]="!canSubmit()">Validate</button>
      <button type="button" mat-raised-button color="warn" (click)="resetForm()" [disabled]="!form.dirty">Reset
      </button>
    </div>
  </form>
</div>
